footer {
    background-color: #388e3c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .footer__main {
        width: 80%;
        display: flex;
        justify-content: space-between;
  
        section {
            width: 30%;
            text-align: center;
  
            .footer__title {
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }
        }
  
        address {
            width: 30%;
            text-align: center;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-bottom: 1rem;
                li {
                    margin-bottom: 0.5rem;
                }
            }
        }
  
        
    }

    .footer__copyright {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}
