<footer>
    <div class="footer__container">
        <div class="footer__main">
            <section>
                <h2 class="footer__title">Sobre</h2>
                <p class="footer_about-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam ducimus tempora est itaque placeat. Nemo voluptatibus temporibus et laborum accusantium. Animi velit dolore voluptatem laudantium sunt recusandae quidem fugiat deserunt.</p>
            </section>
            <address>
                <h2 class="footer__title">Contato</h2>
                <ul>
                    <li><i class="fa-regular fa-envelope"></i> lnz.viktor0@gmail.com</li>
                </ul>
                <ul>
                    <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                </ul>
                <ul>
                    <li><i class="fa-brands fa-whatsapp"></i> (00) 00000-0000</li>
                </ul>
            </address>

        </div>

        <section class="footer__copyright">
            &copy; Todos os direitos reservados.
        </section>
    </div>
    
</footer>