<section class="product-list">
    <div class="product-list__card" *ngFor="let produto of this.produtos">
        <a routerLink="/produtos/{{produto.id}}" class="product-list__card__link">
            <img [src]="produto.imagem" >
            <h2 class="product-list__card__name">
                {{ produto.descricao }}
            </h2>
            <p class="product-list__card__price">
                {{ produto.preco | currency: 'BRL':'symbol':'1.2-2'}}
            </p>
            <p class="product-list__card__description">
                {{produto.descricaoPreco }}
            </p>
            <button class="product-list__card__buy-button" type="button">Comprar</button>
        </a>
    </div>
</section>